.profile-head__bio {
  grid-area: biograthy;
  margin: 0;
  padding-top: 7px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media screen and (max-width: 920px) {
  .profile-head__bio {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .profile-head__bio {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .profile-head__bio {
    font-size: 14px;
  }
}

