.popup__input {
  width: 358px;
  padding: 0;
  height: 27px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__input:last-of-type {
  margin-top: 30px;
}

.popup__input:focus {
  outline-color: rgb(0, 0, 0);
}

@media screen and (max-width: 600px) {
  .popup__input {
    width: 238px;
  }
}
