.profile-head__edit-button {
  grid-area: edit-button;
  border: 1px solid #fff;
  min-width: 24px;
  min-height: 24px;
  margin-left: 18px;
  padding: 0;
  cursor: pointer;
  background-color: #000;
  background-image: url(../../../images/edit-button.png);
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}

.profile-head__edit-button:hover {
  opacity: .6;
  transition: opacity .2s linear;
}

@media screen and (max-width: 600px) {
  .profile-head__edit-button{
    margin-left: 10px;
  }
}

@media screen and (max-width: 320px) {
  .profile-head__edit-button{
    min-width: 18px;
    min-height: 18px;
  }
}

