.popup__close {
  background-image: url(../../../../images/closeicon.svg);
  background-color: transparent;
  background-size: contain;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  top: -8px;
  left: 438px;
}

.popup__close:hover {
  opacity: .6;
  transition: opacity .2s linear;
}

@media screen and (max-width: 600px) {
  .popup__close {
    width: 20px;
    height: 20px;
    left: 263px;
    top: -16px;
  }
}
