.popup__save-button {
  max-width: 358px;
  width: 100%;
  height: 50px;
  margin-top: 48px;
  padding: 0;
  background-color: #000;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  cursor: pointer;
}

.popup__save-button:hover {
  opacity: .8;
  transition: opacity .2s linear;
}

@media screen and (max-width: 600px) {
  .popup__save-button {
    max-width: 238px;
    font-size: 14px;
    margin-top: 45px;
  }
}
