.profile-head__title {
  grid-area: name;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media screen and (max-width: 920px) {
  .profile-head__title {
    font-size: 33px;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .profile-head__title {
    font-size: 27px;
  }
}
