.profile-head__name {
  grid-area: name;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.1;
}

@media screen and (max-width: 920px) {
  .profile-head__name {
    font-size: 35px;
  }
}

@media screen and (max-width: 600px) {
  .profile-head__name {
    font-size: 30px;
  }
}

@media screen and (max-width: 320px) {
  .profile-head__name {
    font-size: 27px;
  }
}
